body {
    padding-top: 70px;
    background-color: #C3C3C3;
    background: url("../images/mountain.PNG") no-repeat;
    background-size: 100%;
}	

h1 {
	font-size: 100px;
	text-align: center;
}

h2 {
	font-size: 60px;
}

img {
	position: relative;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
}

.member {

	padding: 20px;
}
